@{
    ViewBag.Title = "Services";
}

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h3 class="display-4">Our Services</h3>
        </div>
    </div>
</div>