@{
    ViewBag.Title = "Access Denied";
}
<div class="container mt-5">
<div class="row">
    <div class="col-md-8 offset-md-2 access">
        <div class="card">
            
            <h5 class="card-header text-primary" style="height: 40px; padding-top: 8px">Access Denied</h5>
          
            <div class="card-body">
                <h6 class="card-text">You don't have permission viewing this page, kindly stick to the provided links. Thanks<span><a href="#" id="back">  Go Back</a></span></h6>
               
            </div>
        </div>
    </div>
</div>
</div>