@model LoginViewModel

@{
    ViewBag.Title = "Staff Login";
    
}


    <div class=" col-md-4 offset-md-4 sign-container">
    <div class="card">
                
        <h5 class="card-header text-primary" style="height: 40px; padding-top: 8px">Login</h5>
              
        <div class="card-body">
            <form class="form-signin" method="post" asp-controller="Account" asp-action="Login">
                <div asp-validation-summary="All"></div>

                <div class="input-group mb-2">
                    <label for="inputEmail" class="sr-only" asp-for="Email"></label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="/images/envelope.svg" height="20px" width="20px"/></span>
                    </div>
                    <input type="email" id="inputEmail" class="form-control" asp-for="Email" placeholder="Email address" required autofocus>
                    <span asp-validation-for="Email"></span>
                </div>


                <div class="input-group">
                    <label for="inputPassword" class="sr-only" asp-for="Password"></label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="/images/key.svg" height="20px" width="20px"/></span>
                    </div>
                    <input type="password" id="inputPassword" class="form-control" asp-for="Password" placeholder="Password" required>
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="row  mb-3 mt-1">
                    <div class="col-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" asp-for="RememberMe"> Remember me
                            </label>
                        </div> 
                    </div>
                    <div class="col-6">
                        <a asp-action="Register">Register</a>
                    </div>
                </div>

               
                <button class="btn btn-sm btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>

    </div>
    </div>
