
html {
    font-size: 1rem;
}


body{
    background-color: #fff;

}
.container {
    max-width: 960px;
}


/*
 * Custom translucent site header
 */
/* NAVBAR*/
.header {
    max-height: 40px;
    padding-top: 0px; !important;
    background-color: rgba(0, 0, 0, .85) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    font-size: small;
    
}
.header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.header a:hover {
    color: #fff;
    text-decoration: none;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

/* HEADER OVERLAY */
#home-section {
    width: 100% !important;
    
    background: url("../images/home-layout.png") no-repeat;
    min-height: 250px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed; }
#home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 250px; }
#home-section .home-inner {
    padding-top: 150px; }

#services{
    margin-top: 270px;
}


.hide{
    display: none;
}
.show{
    display: block;
}
.border-red{
    border: 1px solid red;
}

.sign-container{
   margin-top: 100px;
   margin-bottom: 100px; 
}
.profile{
    position: absolute;
    top: 0; 
    height: 100%;
    left: 0; 
    padding: 40px;
    background-color: #ffffff;
    width: 100%;
}


