.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */
/* NAVBAR*/
.header {
    max-height: 40px;
    padding-top: 0px; !important;
    background-color: rgba(0, 0, 0, .85) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    font-size: small;
    
}
.header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.header a:hover {
    color: #fff;
    text-decoration: none;
}

/* HEADER OVERLAY */
#home-section {
    width: 100% !important;
    
    background: url("../images/home-layout.png") no-repeat;
    min-height: 250px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed; }
#home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 250px; }
#home-section .home-inner {
    padding-top: 150px; }




