
html {
    font-size: 1rem;
}


body{
    background-color: #fff;
    width: 100%;

}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 40px;
    line-height: 40px; 
    
}
.container {
    max-width: 960px;
}



/* NAVBAR*/
.navigation a {
    transition: ease-in-out color .15s;
}
.navigation a:hover {
    color: #916fff;
    text-decoration: none;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

/* HEADER OVERLAY */
#home-section {
    width: 100% !important;
    background: url("../images/smart.jpg") no-repeat;
    min-height: 400px;
    background-size: cover;
    background-attachment: fixed; }
#home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 452px; }
#home-section .home-inner {
    padding-top: 150px;
     }

#services{
    margin-top: 0;
}

.hide{
    display: none;
}
.show{
    display: block;
}
.border-red{
    border: 1px solid red;
}

.sign-container{
   margin-top: 100px;
   margin-bottom: 100px; 
}
.profile{
    position: absolute;
    top: 0; 
    height: 100%;
    left: 0; 
    padding: 40px;
    background-color: #ffffff;
    width: 100%;
}

.access{
    margin: 0 auto;
}
#back{
    cursor: pointer;
}
.rotate{
    transform: rotate(-30deg);
}